# Nuxt dev/build outputs
.output
.data
.nuxt
.nitro
.cache
dist

# Node dependencies
node_modules

# Logs
logs
*.log

# Misc
.DS_Store
.fleet
.idea

# Local env files
.env
.env.*
!.env.example

backend/vocab_api/vocab/__pycache__
backend/vocab_api/vocab/migrations/__pycache__
backend/vocab_api/vocab/migrations/0001_initial.py

backend/venv
backend/vocab_api/db.sqlite3
backend/vocab_api/vocab_api/__pycache__